@import '../../sass/variables';
@import '../../sass/mixins';

header {
  display: flex;
  align-items: center;
  padding: 2em 0;

  h2 {
    margin: 0;
    margin-right: auto;
  }

  button {
    margin-left: auto;
  }
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .events-item {
    padding: 0 2% #{$tracking * 4};
    width: 46%;
    max-width: 200px;

    .poster img {
      max-width: 100%;
      box-shadow: 0 0 $tracking rgba(0,0,0,.8);
    }

    @media (min-width: $medium)
    {
      max-width: 18%;
      padding: 0 1% #{$tracking * 4};
    }
  }

}

