<header>
  <app-logo></app-logo>

  <div class="menu">
    <button class="primary">Bairro</button>
    <button class="primary">Gênero</button>
    <button class="primary">Cinema</button>
  </div>

  <div class="auth">
    <span class="auth-name">Diego Lameira</span>
    <div class="avatar" style="background-image: url(https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-1/p160x160/10991316_390042594500236_3436856740617576489_n.jpg?oh=fb2d35580cd2d59c98ce0a787497b782&oe=5950F6F3)">
      <img src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-1/p160x160/10991316_390042594500236_3436856740617576489_n.jpg?oh=fb2d35580cd2d59c98ce0a787497b782&oe=5950F6F3" alt="">
    </div>
  </div>

</header>
