@import '../../sass/variables';
@import '../../sass/mixins';

header {
  display: flex;
  align-items: center;
  padding: 2em 0;
  flex-wrap: wrap;

  h2 {
    margin: 0;
    margin-right: auto;
  }

  select {

    @media (max-width: #{$medium - 1})
    {
      width: 100%;
      order: 1;
      margin: $tracking 0;
      box-sizing: border-box;
    }

  }

  button {
    margin-left: auto;
  }
}

.movies {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-left: -#{$tracking * 2};
  margin-right: -#{$tracking * 2};
  padding: 0 $tracking;

  .movies-item {
    box-sizing: border-box;
    padding: $tracking;
    width: 46%;
    max-width: 200px;

    .poster img {
      max-width: 100%;
      box-shadow: 0 0 $tracking rgba(0,0,0,.8);
    }

    @media (min-width: $medium)
    {
      max-width: 18%;
      min-width: auto;
    }
  }

  @media (min-width: $medium)
  {
    margin: 0;
    overflow-x: visible;
  }

}
