@import '../../sass/variables';

.webdoor {
  position: relative;
  min-height: 60vh;
  max-height: 800px;
  width: 100%;

  .cover {
    height: 100%;
    overflow: hidden;

    .background {
      display: none;

      @media (min-width: $medium)
      {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: center repeat-x;
        background-size: contain;
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
      }
    }

    img {
      display: block;

      @media (min-width: $medium)
      {
        max-width: 100%;
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
        height: 100%;
      }

    }
  }

}

.highlight {

  .highlight-detail {
    padding: #{$tracking * 2};

    h1 {
      margin-top: 0;
    }

    @media (min-width: $medium)
    {
      width: 30%;
      position: absolute;
      bottom: #{$tracking * 4};
      right: 0;
      background-color: rgba(0,0,0,.4);
      text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    }
  }
}

.highlights {
  position: relative;
  z-index: 10;
  display: flex;
  padding: 0 #{$tracking * 4} $tracking;

  .highlights-item {
    transition: all ease-in-out .3s;
    padding: 0 $tracking #{$tracking * 4};
    min-width: 35%;

    .poster img {
      border: 2px solid transparent;
      transition: all ease-in-out .3s;
      max-width: 100%;
      box-shadow: 0 0 $tracking rgba(0,0,0,.8), 0 0 0 rgba(#0CB0B1, 0);
    }

    &.active {
      transform: scale(1.1);

      .poster img {
        border: 2px solid #0CB0B1;
        box-shadow: 5px 10px 200px rgba(0,0,0,.7), 0 0 20px #0CB0B1;
      }
    }

    &:not(.active) {
      -webkit-filter: brightness(50%);
      filter: brightness(50%);
    }

    @media (min-width: $medium)
    {
      min-width: auto;
      width: 25%;
      max-width: 200px;
    }
  }

  @media (max-width: $medium)
  {
    overflow-x: scroll;
  }

  @media (min-width: $medium)
  {
    margin-top: -#{$tracking * 2};
    justify-content: space-around;
  }

}
