<div class="highlight webdoor" *ngIf="currentHighlight">
  <div class="cover">
    <div class="background"
      [ngStyle]="{'background-image': 'url(' + currentHighlight.getPosterHorizontal() + ')'}"
      ></div>
    <img [src]="currentHighlight.getPosterHorizontal()" alt="">
  </div>
  <div class="highlight-detail">
    <h1>{{currentHighlight.getTitle()}}</h1>
    <p>{{currentHighlight.getDescription()}}</p>
    <div class="actions">
      <button class="primary">Ver trailer</button>
    </div>
  </div>
</div>

<div class="highlights">
  <div class="highlights-item" [ngClass]="{active: currentHighlight == highlight}" (mouseover)="currentHighlight = highlight" *ngFor="let highlight of highlights">
    <div class="poster">
      <img src="{{highlight.getPosterPortrait()}}" alt="{{highlight.getTitle()}}">
    </div>
    <div class="title">
      {{highlight.getTitle()}}
    </div>
  </div>
</div>
