/* You can add global styles to this file, and also import other style files */

@import "sass/variables";

body {
  font-family: map-get($fonts, roboto);
  background-color: map-get($colors, background);
  color: map-get($colors, text);
  font-weight: 300;
}

.title,
h1, h2, h3, h4, h5, h6 {
  font-family: map-get($fonts, lato);
  font-weight: 700;
  color: map-get($colors, title);
}
